<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" (click)="puntos()" name="person-circle"></ion-icon>
      </ion-button>
      </ion-buttons>
    <ion-title>mapas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id='map'></div>
</ion-content>
